body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  
  .error {
    color: red;
  }
  

.card-form{
    /* Rectangle 4 */


width: 1342px;
height: 2319px;
left: 85px;
top: 1650px;

background: #606060;
border-radius: 90px;

}

.soliem{
    color: black;
}