.Cuestionario{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerCuestionario{
   width: 80%;
   background-color: #606060;
   padding: 20px 60px;
   border-radius: 90px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.ContainerFile{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
